@import url(https://fonts.googleapis.com/css?family=Kaushan+Script);

@font-face {
    font-family: Cookie;
    src : url(../assets/fonts/Cookie-Regular.ttf);
}

body {
    width:100%;
    overflow:hidden;
    margin:0;
    cursor:pointer;
}
h1 {
    position: absolute;
    top: 40%;
    left: 0px;
    text-align: center;
    font-size: 3em;
    width: 100%;
    color: black;
    font-family: Cookie;
    color:transparent;
    -webkit-text-stroke: 1px hsla(0,0%,0%,.3);
}