@import url(https://fonts.googleapis.com/css?family=Kaushan+Script);

@font-face {
    font-family: Cookie;
    src : url(../assets/fonts/Cookie-Regular.ttf);
}

html,body {
    width:100%;
    margin:0;
    height: 100%;
    padding: 0px;
}

.section {
    position: relative;
    top:0px;
    height: 100%;
    left: 0px;
    padding: 0px;
    margin: 0px;
    overflow-x:hidden;
    overflow-y:hidden;
}

/** css for the home section */
#home-section h1 {
    position: absolute;
    top: 40%;
    left: 0px;
    text-align: center;
    font-size: 3em;
    width: 100%;
    color: black;
    font-family: Cookie;
    color:black;
    /*-webkit-text-stroke: 1px hsla(0,0%,0%,.3);*/
}


/** css for the nav bar inside the home section */
.nav-bar {
    position: absolute;
    width: 100%;
    text-align: center;
    left: 0px;
    top:55%;
}

.nav-bar a {
    display: inline-block;
    text-decoration: none;
    font-family: Cookie;
    font-size:2em;
    text-align: center;
    margin-left: 10px;
    color: black;
    cursor: pointer;
}

/** class for all the mini divs inside the sections */
.mini-div {
    margin: 0px;
    padding: 0px;
    height: 100%;
}

.mini-section-part {
    height: 100%;
    width: 30%;
    background-color: rgb(44, 44, 44);
}

.make-left {
    position: absolute;
    top:0px;
    left:0px;
}

.make-right {
    position: absolute;
    top:0px;
    right:0px;
}
.max-section-part {
    height: 100%;
    width: 70%;
    background-color:white;
}

#home-section {
    height: 100%;
}
