@import url(https://fonts.googleapis.com/css?family=Kaushan+Script);

@font-face {
    font-family: Cookie;
    src : url(../assets/fonts/Cookie-Regular.ttf);
}

html,body {
    width:100%;
    margin:0;
    height: 100%;
    padding: 0px;
    overflow-y:hidden;
}

.section {
    position: absolute;
    top:0px;
    height: 100%;
    width: 100%;
    left: 0px;
    padding: 0px;
    margin: 0px;
    overflow-x:hidden;
    overflow-y:hidden;
}

/** css for the home section */
.home-section h1 {
    position: absolute;
    top: 28%;
    left: 0px;
    text-align: center;
    /*font-size: 8em;*/
    font-size: 12vh;
    width: 100%;
    color : rgb(44, 44, 44);
    font-family: Cookie;
    transition: all 0.3s ease;
    /*-webkit-text-stroke: 1px hsla(0,0%,0%,.3);*/
}

.home-section-h1-after{
    position: absolute;
    border: 2px solid red;
    top:0;
}

/** css for the nav bar inside the home section */
.nav-bar {
    position: absolute;
    width: 100%;
    text-align: center;
    left: 0px;
    top:50%;
    transition: all 0.3s ease;
}

.nav-bar-after {
    top:12%;
    font-size: 1em;
}

.nav-bar a {
    display: inline-block;
    text-decoration: none;
    font-family: Cookie;
    font-size:6vh;
    text-align: center;
    margin-left: 15px;
    color : rgb(44, 44, 44);
    cursor: pointer;
}

.nav-bar a:hover {
    border-bottom: 2px solid black;
}

/* new css starts here */

.web-section-after {
    position: absolute;
    display: block;
    background-color: rgba(229,229,229, 0.4);
    height:80%;
    width: 90%;
    top:20%;
    left: 5%;
    z-index: 10;
}

#web-section {
    transition: all 0.4s ease;
}

.event-section {
    z-index: -1;
    top:100%;
    transition: all 0.3s ease;
}

.mini-section-part {
    position: absolute;
    width: 38%;
    opacity: 1;
    height: 80%;
    margin-top: 50px;
    /*border:2px solid black;*/
    text-align: center;
    font-family: Cookie;
    border-right: 3px solid rgb(44, 44, 44);
}

.mini-section-part h1 {
    width: 100%;
    text-align: center;
    color : rgb(44, 44, 44);
}

.max-section-part {
    height: 80%;
    width: 56%;
    position: absolute;
    right:38px;
    margin-top: 50px;
    /*border: 2px solid green;*/
    overflow-y: auto;
    /*background-color: white;*/
    background-image: url("../assets/images/white.png");
}

.description {
    padding: 20px;
    font-family: Cookie;
    font-size: 1.3em;
    color : rgb(44, 44, 44);
}

.description a {
    text-decoration: none;
    /*color: black;*/
    color : rgb(44, 44, 44);
}

.description-sub-heading {
    font-weight: 800;
}

.about-image {
    height: 70%;
    width: 60%;
    text-align: center;
    margin: auto;
}

.about-image img {
    width: 100%; /* or any custom size */
    height: 100%;
    object-fit: contain;
}

.heading {
    font-size: 2em;
}

#close {
    position: absolute;
    top:0px;
    right:0px;
    padding: 20px;
    height: 25px;
    width: 25px;
    z-index: 3;
    cursor: pointer;
    display:none;
    transition: all 0.5s ease;
}

#close img {
    width: 100%; /* or any custom size */
    height: 100%;
    object-fit: contain;
    transition: all 0.5s ease;
}

#close img:hover {
    transform: rotate(180deg);
}